
.block-1{
    background-color: #769656;
    height: 100px;
    width: 100px;
    float: left;
}

.block-2{
    background-color: #eeeed2;
    height: 100px;
    width: 100px;
    float: left;
}
  

.row:after {
    content: "";
    display: table;
    clear: both;
}



.figure.selected{
    
    box-shadow: inset 0 0 10px 5px #baca44; /* mark the inset */
    position: relative;
}

.available_move{
    background-color: #baca44;
}