<div class="board" *ngFor="let r of row_numbers">
    <div class="row">
        <div class="column">
            <div *ngFor="let c of column_numbers" class="block-container" >
                <div [ngClass]="{
                'block-2': r % 2 == 1 && c % 2 == 0 || r % 2 == 0 && c % 2 == 1, 
                'block-1': r % 2 == 0 && c % 2 == 0 || r % 2 == 1 && c % 2 == 1
            }"
                 [attr.data-position]="r + ','+ c" (click)="onSelect($event)">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ngClass]="{'block-1': r % 2 == 0 && c % 2 == 1, 'block-2': r % 2 == 1 && c % 2 == 0}" -->
<!-- r aris kenti da c aris kenti peri - mwnave -->
<!-- r aris luwi da c aris kenti peri tetri -->

<!-- 1,1 (mwvane) | 1,2 (tetri)  | 1,3 (mwvane) -->
<!-- 2,1 (tetri)  | 2,2 (mwvane) | 2,3 (tetri) -->
<!-- 3,1 (mwvane) | 3,2 (tetri)  | 3,3 (mwvane) -->